<!-- メイン -->
<main class="max-w-md mx-auto px-4 pt-6 pb-24">
  <!-- タイトル -->
  <section class="text-center">
    <p class="text-slate-800 text-xl font-semibold mt-4 text-left">住所入力</p>
  </section>

  <!-- ボタン群 -->
  <section class="mt-8 space-y-4">
    <%= form_with url: origin_address_input_path, scope: :origin_address do |f| %>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :lng %>
      <%= f.submit "決定" %>
    <% end %>
    <!-- 決定 -->
    <%= link_to "#", class: "block w-full" do %>
      <div class="w-full text-center rounded-xl px-6 py-3 bg-slate-200 text-slate-800 font-semibold
                  shadow-sm hover:bg-slate-300 transition active:scale-[0.99]"
        style="border: 1px solid rgba(0,0,0,0.08);">
        決定
      </div>
    <% end %>
  </section>
</main>
